header {
  background-color: #4c2676;
  color: white;
}

body {
  /* Primary Text Font for Body */
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #eee;
}

textarea {
  width: calc(1000% / 4.85);
}

.heading-font {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.default-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.box-label {
  padding-bottom: 40px;
}

.custom-label {
  padding: 10px 0;
}

.custom-text-input {
  width: 100%;
  height: auto;
}

.custom-text-input,
textarea {
  border: 1px solid #a2a2a3;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.custom-button {
  padding: 5px;
  background-color: #4c2676;
  color: white;
  border-radius: 4px;
}

.start-end {
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-left: calc(200% / 3);
}

/* @media rule-set */

/* Textarea resize */
@media screen and (width <= 768px) {
  textarea {
    width: 100%;
  }
}
