header {
  background-color: #4c2676;
  color: white;
}

body {
  /* Primary Text Font for Body */
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #eee;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

i {
  cursor: pointer;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0 10px;
}

.no-entries-text {
  display: flex;
  justify-content: center;
}

.header-font {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}

.custom-input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-label {
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #4c2676;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.entries-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-entry-button {
  text-decoration: none;
}
